.root{
    -fx-box-border:transparent;
    -fx-text-box-border:transparent;
    -fx-hover-base:#CDE6F7;
    -fx-selected-color: GREEN;
    -fx-unselected-color:RED;
    -fx-no-selection-color:#830051;
    -fx-border-pressed:#00add0;

    /* AZ SPECIFIC COLOURS AND HIGHLIGHTS*/
    -fx-navy-color:#003865;
    -fx-mulberry-color:#830051;
    -fx-magenta-color:#D0006F;
    -fx-limegreen-color:#C4D600;
    -fx-gold-color:#F0AB00;
    -fx-lightblue-color:#68D2DF;
    -fx-purple-color:#3c1053;
    -fx-platinum-color:#9DB0AC;

    /*highlght colour derived from lightblue*/
    -fx-window-highlight: derive(-fx-navy-color, 90%);
    -fx-window-aside: derive(-fx-navy-color, 99%);
    -fx-lightblue-background-color: derive(-fx-window-highlight, 90%);
    -fx-lightblue-highlight: derive(-fx-window-highlight, 70%);
    -fx-lightblue-50: derive(-fx-window-highlight, 50%);

    -fx-disabled: derive(-fx-platinum-color, 90%);

    -fx-menu-background: #EBEFEE;
}

.label{
    -fx-text-fill: -fx-navy-color;
}

.borderPane{
    -fx-background-color: -fx-window-highlight;
}

.info-wrapper {
    -fx-border-color: -fx-navy-color;
    -fx-border-width: 2px;
}

.title-pane {
    -fx-border-color: -fx-navy-color;
    -fx-border-width: 0 0 2px 0;
}

.split-pane{
    -fx-box-border: transparent;
}

.split-pane > .split-pane-divider {
   -fx-background-color: -fx-gold-color;
   -fx-padding: 0
}

.active{
    -fx-background-color: -fx-lightblue-highlight;
}

.disabled{
    -fx-background-color: #9DB0AC33;
}

.drag-allowed{
    -fx-background-color: -fx-lightblue-background-color;
}

.big-text {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.comment-text{
    -fx-font-weight: bold;
    -fx-text-fill: -fx-disabled;
}


.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-color: #003865;
}
