* {
    -fx-box-border:transparent;
    -fx-text-box-border:transparent;

    -fx-hover-base:#CDE6F7;
    -fx-selected-color: GREEN;
    -fx-unselected-color:RED;
    -fx-no-selection-color:#830051;
    -fx-border-pressed:#00add0;

    /* AZ SPECIFIC COLOURS AND HIGHLIGHTS*/
    -fx-navy-color:#003865;
    -fx-mulberry-color:#830051;
    -fx-magenta-color:#D0006F;
    -fx-limegreen-color:#C4D600;
    -fx-gold-color:#F0AB00;
    -fx-lightblue-color:#68D2DF;
    -fx-purple-color:#3c1053;
    -fx-platinum-color:#9DB0AC;

    /*highlght colour derived from lightblue*/
    -fx-window-highlight: #99AFC1;
    -fx-ribbon-background-color: #CCD7E0;
    -fx-ribbon-label-background-color: #809CB2;

    -fx-menu-background: #EBEFEE;
}


.tooltip {
    -fx-background: #003865;
    -fx-text-fill: white;
    -fx-background-color: #003865;
    -fx-background-radius: 2px;
    -fx-background-insets: 0;
    -fx-padding: 0.2em 0.5em 0.2em 0.5em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}


.label{
-fx-font-size: 0.9em;
}


.menu {
    -fx-padding: 0.1em 0.666667em 0.1em 0.666667em; /* 4 8 4 8 */
}

.menu-bar {
    -fx-background-color:-fx-window-highlight;
}

.context-menu{
    -fx-background-color: -fx-menu-background;
    -fx-background-radius:0;
    -fx-padding:0;
}

.context-menu .separator:horizontal {
    -fx-border-insets: 2 5 2 5;
    -fx-border-width:0 0 6 0;

    }

.menu-item{
    -fx-background-color: #CCD7E0;
    -fx-background-radius: 0;
    -fx-background-insets:0;
    -fx-padding: 0em 0.5em 0em 0.5em; /* 10px */
    -fx-font-size: 0.9em;
}

.menu-item .label {
    -fx-text-fill: -fx-navy-color;
    -fx-padding:3;

}

.menu-item:focused{
  -fx-background-color: derive(-fx-navy-color,10%);
}

.menu-item:focused .label {
    -fx-text-fill:#FFFFFF;
}

#titleMenuItem .label{
  -fx-graphic: url("icon/change.png");

}

#titleMenuItem:focused .label{
  -fx-graphic: url("icon/change_white.png");
}

#complete{
	-fx-background-radius: 20.0 20.0 0.0 0.0;
	-fx-background-color: yellow  ;
}

/* SEPARATOR ITEMS */

.separator:vertical .line {
    -fx-border-color: RED;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}


.button,
.toggle-button{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-insets:0;
    -fx-border-width:0 0 2 0;
}

.button{
    -fx-border-color:-fx-no-selection-color;


}

.toggle-button{
    -fx-border-color:-fx-unselected-color;
}

.button:armed,
.button:pressed,
.toggle-button.armed{
-fx-border-color:-fx-gold-color;
}

.radio-button:selected .dot {
    -fx-background-color: -fx-selected-color;
}

.radio-button .dot {
    -fx-background-color: -fx-unselected-color;
}

.check-box > .box,
.check-box:pressed > .box,
.check-box:armed .box,
.check-box:focused > .box{
    -fx-background-color: transparent;
    -fx-border-insets:4;
    -fx-border-width:1 1 1 1;
    -fx-border-color: -fx-unselected-color;
}

.radio-button:focused > .radio,
.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box,
.choice-box{
    -fx-border-insets:4;
    -fx-border-width:0 0 6 0;
    -fx-border-color: -fx-base;
}

.combo-box-base:focused,
.choice-box:focused
{
    -fx-border-color: -fx-base;
}

.button:hover,
.toggle-button:hover{
    -fx-color: -fx-hover-base;
}

.toggle-button:selected,
.check-box:selected > .box,
.choice-box:showing,
.combo-box:showing{
    -fx-border-color:-fx-selected-color;
    -fx-background-color: -fx-pressed-base;

}

.button:focused,
.toggle-button:focused,
.color-picker.split-button:focused > .color-picker-label,
.slider:focused .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#toggleImpuritiesVisible{
    -fx-graphic: "icon/imps-32.png";
}

#toggleMoveEverythingButton{
    -fx-graphic: "icon/user-change-32.png";
}

#changeUserOfTaskButton{
    -fx-graphic: "icon/user-change-32.png";
}


#optionsButton{
    -fx-graphic: "icon/cog-navy.png";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color:transparent;
    -fx-border-width: 0;
    -fx-border-radius:0;
    -fx-border-insets:0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: -4 0 -4 0;
/*<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
}


#optionsButton:hover{
    -fx-graphic: "icon/cog-mulberry.png";
}

#optionsButton:armed{
    -fx-graphic: "icon/cog-gold.png";
}

#moveButton{
    -fx-graphic: "icon/move-32.png";
}

#menuGridHolder{
-fx-padding: 5 10 5 10;
-fx-border-width: 1;
-fx-border-radius:2;
-fx-border-insets:10 0 10 0;
   -fx-border-color: -fx-navy-color;
}

#menuHBox{
-fx-spacing:10;
}

#ribbonModuleHolderHBox{
-fx-padding: 0 10 0 10;
-fx-spacing:10;
}

#ribbonAndSearchBarVBox{
-fx-background-color: -fx-ribbon-background-color;
}

#subtitleLabel{
-fx-font-size: 0.8em;
}

